body {
	background-color: #fff;
	color: #333;
	font: 16px/1.5 sans-serif;
	margin: 0;
}

header {
	background-color: #222;
	color: #fff;
}

header h1 {
	margin: 0;
	padding: .55em;
	background-color: #055aaa;
	font-size: 1em;
}

header h1 img {
	display: block;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav li a {
	display: block;
	padding: .5em 1em;
	color: #fff;
	text-decoration: none;
}

header nav li a:active {
	background-color: white;
	color: #005aaa;
}

main {
	padding: 0 1em;
}

main img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 3px 0 rgba(50,50,50,75);
}

s {
	color: #c00;
}

button {
	border: 1px outset #333;
	background-color: #055aaa;
	color: #fff;
	padding: .4em .7em;
	margin-right: 5px;
	font-size: 0.9em;
}

footer {
	background-color: #222;
	color: #fff;
	padding: 0 1em;
	margin-top: 1.5em;
}

.cf:before, .cf:after,
.grid-row:before, .grid-row:after,
main:before, main:after,
footer:before, footer:after {
	display: table;
	content: " ";
}

.cf:after,
.grid-row:after,
main:after,
footer:after {
	clear: both;
}

.grid-row {
	margin: 1em -1em;
}

.grid-half-m {
	padding: 0 1em;
	box-sizing: border-box;
}

.grid-half-m h2:first-child,
.grid-half-m h3:first-child {
	margin-top: 0;
}

@media all and (max-width: 414px) {
    header {
        position: relative;
    }

    nav ul {
    	display: none;
    }

    nav button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        padding: .8em 1em;
    }

    nav button:active {
        background-color: #fff;
        color: #005aaa;
    }
}

@media all and (min-width: 415px) {
	header nav li {
		display: inline-block;
	}
	
	nav button {
		display: none;
	}
}

@media all and (min-width: 768px) {
	header h1 {
		float: left;
		margin-right: 1em;
	}

	.grid-half-m {
		float: left;
		width: 50%;
		
	}
}

@media all and (min-width: 1024px) {

	body {
		background-color: #000;
		background-image: url(../images/bg-black.png);
	}

	#container {
		max-width: 1024px;
		background-color: #fff;
		color: #222;
		margin: 0 auto;
	}

	.grid-full-l {
		float: none;
		width: auto;
	}

	.grid-third-l {
		float: left;
		width: 33.3333%;
	}

	.grid-row-off-l {
		margin: 0;
	}

	.grid-row-off-l:before, .grid-row-off-l:after {
		clear: none;
		display: inherit;
		content: "";
	}

	.grid-row-l {
		margin: 1em -1em;
	}
}